.App {
  text-align: center;
}

.grid-container {
  padding-left: 2vw;
  width: 90vw;
  display: grid;
  grid-column-gap: 15px;
  margin: 1%;
}

.right-panel {
  height: 100%;
  width: 20vw;
  grid-column-start: 4;
}

.reload-button {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: white;
  background-color: #1da1f2;
  font-size: 18px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 30px;
  outline: none;
  margin-bottom: 20px;
}

.reload-button:hover {
  background-color: lightsteelblue;
}
