@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  padding-top: 30px;
}

.page {
  padding-top: 10px;
  text-align: center;
}

@media (max-width: 575px) {
  .page h1 {
    font-size: 8vw;
    margin-top: 5px;
    font-weight: bold;
  }
}

@media (min-width: 576px) {
  .page h1 {
    font-size: 55px;
    font-family: 'Montserrat';
    font-weight: bold;
    align-content: center;
    vertical-align: middle;
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
  .page h2 {
    font-size: 18px;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 576px) {
  .yup {
    padding-top: 10px;
    font-size: 90px;
    padding-left: 10px;
    font-family: 'Montserrat';
  }

  .gameover {
    font-size: 60px;
    font-family: 'Press Start 2P';
  }

  .heartimg {
    height: 18px;
  }

  .chainimg {
    height: 20px;
    margin-bottom: 5px;
  }

  .yupimg {
    height: 120px;
  }
}

@media (max-width: 575px) {
  .yup {
    font-size: 60px;
    padding-left: 10px;
    font-family: 'Montserrat';
  }

  .heartimg {
    height: 14px;
  }

  .chainimg {
    height: 16px;
  }

  .gameover {
    font-size: 50px;
    font-family: 'Press Start 2P';
  }

  .heartdiv {
    padding-top: 4px;
  }

  .yupimg {
    height: 100px;
  }
}

@media (min-width: 576px) {
  .page h2 {
    font-size: 27px;
    font-weight: 200;
  }
}

.lineHover:hover {
  box-shadow: 1px 1px 13px -2px rgba(30, 30, 60, 0.9);
}

@media (min-width: 576px) {
  .page p {
    font-size: x-large;
    font-weight: 90;
    padding-bottom: 0px;
    font-style: oblique;
  }
}

@media (max-width: 575px) {
  .page p {
    font-size: medium;
    font-weight: 100;
    font-style: oblique;
    padding-bottom: 20px;
  }
}

@media (min-width: 769px) {
  .card {
    border: none !important;
    width: 600px;
    height: 300px;
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .card {
    border: none !important;
    width: 80vw;
    height: 300px;
    padding-top: 15px;
  }
}

@media (max-width: 575px) {
  .header-img {
    height: 45px;
  }
}

@media (min-width: 576px) {
  .header-img {
    height: 70px;
  }
}

.line1 {
  border: solid 1px lightgrey;
  width: 100%;
  border-radius: 50px;
  height: 80px;
  margin-bottom: 15px;
  padding-left: 4px;
}

@media (max-width: 768px) {
  .score-timer {
    height: 20px;
    width: 80vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 769px) {
  .score-timer {
    height: 20px;
    width: 600px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 5px;
  }
}

@media (min-width: 401px) {
  .score-text {
    font-size: 17px;
    color: goldenrod;
    font-weight: bold;
  }
}

@media (max-width: 400px) {
  .score-text {
    font-size: small;
    color: goldenrod;
    font-weight: bold;
  }
}

.progress {
  width: 40%;
  height: 13px;
}

@media (min-width: 400px) {
  .line-text {
    font-size: large;
    font-family: Catamaran;
    font-weight: 400;
    font-style: oblique;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 399px) {
  .line-text {
    font-size: smaller;
    font-weight: 400;
    font-style: oblique;
    padding-top: 16px;
    margin-left: 10px;
    padding-right: 5px;
  }
}

.about-text {
  font-size: x-small;
  padding-left: 40px;
  padding-right: 40px;
  color: lightgrey;
  margin-bottom: 0px;
}

html,
body {
 height: 100%;
 position: relative;
}

#root {
  min-height: 100vh;
  /* overflow: hidden;
  display: block; */
  position: relative;
  padding-bottom: 0px; 
 }

 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
 }

.footer-text {
  font-size: xx-small;
  color: lightgrey;
}

.fake-line {
  font-size: large;
}

.lines {
  padding-top: 15px;
}

@media (min-width: 300px) {
  .lines {
    padding-top: 0px;
  }
}

.blur-div {
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

@media (max-width: 500px) {
  .outer-div {
    position: relative;
    text-align: center;
    width: 80vw;
    height: 320px;
    margin: auto;
    z-index: 1;
  }

  #start-button {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

@media (min-width: 501px) {
  .outer-div {
    position: relative;
    text-align: center;
    width: 600px;
    height: 320px;
    margin: auto;
    z-index: 1;
  }

  #start-button {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
